{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {#<h1>Product index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Id</th>#}
            {#<th>Name</th>#}
            {#<th>Description</th>#}
            {#<th>Price</th>#}
            {#<th>Image</th>#}
            {#<th>actions</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for product in products %}#}
            {#<tr>#}
                {#<td>{{ product.id }}</td>#}
                {#<td>{{ product.name }}</td>#}
                {#<td>{{ product.description }}</td>#}
                {#<td>{{ product.price }}</td>#}
                {#<td>{{ product.image }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('product_show', {'id': product.id}) }}">show</a>#}
                    {#<a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>#}
                    {#<a href="{{ path('product_addtocart', {'id': product.id}) }}">add to card</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="6">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('product_new') }}">Create new</a>#}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container-fluid">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            {% for product in Products %}
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{ product.Product.id }}</h4>
                            <p>{{ product.Product.description }}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">${{ product.Product.price }}</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" value="{{ product.Amount }}">
                </td>
                <td data-th="Subtotal" class="text-center">${{ product.Amount * product.Product.price }}</td>
                <td class="actions" data-th="">
                    <a style="color: white;" href="{{ path('product_addtocart', {'id': product.Product.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            </tbody>
            {% else %}
                <tr>
                    <p>Er zijn momenteel geen items in de winkel.</p>
                </tr>
            {% endfor %}
            <tfoot>
            {% for product in Products %}
                <tr class="visible-xs">
                    <td class="text-center"><strong>{{ product.Product.price }}</strong></td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                {% for product in Products %}
                    {#{% set amount = product.Amount %}#}
                    {#{% set total = product.Amount *  %}#}
                <td class="hidden-xs text-center"><strong>{{ product.Amount }}</strong></td>
                {% endfor %}
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
